{{ define "header" }}

<!DOCTYPE html>
<html>

	<head>
		<title> {{ .Title }} | Base Golang Web App </title>
	</head>

	<style type="text/css">
		body {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			justify-content: flex-start;

			max-width: 900px;
			width: 95%;
			margin: 0 auto;
		}
	</style>

	<body>
		{{ if .isUserLoggedIn }}
			<p> 
				<a href="/">Home</a>
				<a href="/settings">Settings</a>
				<a href="/logout">Logout</a>
			</p>
			<p> You are logged in. </p>
		{{ else }}
			<div>
				<a href="/">Home</a>
				<a href="/register">Sign Up</a>
				<a href="/login">Login</a>
			</div>
		{{ end }}


{{ end }}