<!DOCTYPE html>
<html>

	<head>
		<title> {{.Title}} </title>
	</head>

	<body>		
		{{ if eq .isUserLoggedIn "true" }}
			<p> <a href="/settings">Settings</a> <a href="/logout">Logout</a> </p>
			<p> You are logged in. </p>
		{{ else }}
			<div>
				<a href="/register">Sign Up</a>
				<a href="/login">Login</a>
			</div>
		{{ end }}

		<h1> {{.BodyHeader}} </h1>
		<p> {{.Paragraph}} </p>

		{{ if eq .isUserLoggedIn "true" }}
			<h3> Tweet </h3>
			<form action="/create-tweet" method="post">
				<input type="textarea" name="tweet" placeholder="What are you thinking about?" id="form_tweet">
				<button> Submit </button>
			</form>
		{{ end }}		

	</body>
</html>