{{ template "header" . }}

	{{ if .isUserLoggedIn }}
		<div>
			<a href="/settings">Settings</a>
			<a href="/logout">Logout</a>
		</div>
		<p> You are logged in. </p>
	{{ else }}
		<div>
			<a href="/register">Sign Up</a>
			<a href="/login">Login</a>
		</div>
	{{ end }}

	<h1> {{ .Name }} </h1>
	<p>
		<span> @{{ .Username }} </span> </br>
		<a href="{{ .Url }}"> {{ .Url }} </a> </br>
		<span> {{ .Description }} </span> </br>
		{{ if .isUserLoggedIn }}
			<a href="/follow-user/{{ .ProfileUID }}"> Follow @{{ .Username }} </a>
		{{ end }}
	</p>

	<h3> {{ .Username }}s Tweets </h3>

	<div style="display: flex; flex-flow: column; align-items: flex-start;">
		
		{{ range $idx, $tweet := .Tweets }}
			<div style="display: inline-block; margin: 0 0 5px 0;">
				<p> Tweet ID: {{ $tweet.Id }} </p>
				<p> {{ $tweet.Message }} </p>
				<p> {{ $tweet.Created_at }} </p>
			</div>
		{{ end }}

	</div>

{{ template "footer" . }}