{{ template "header" . }}

	<h3>Register</h3>
	<form action="/register" method="post">
		<label for="">Name</label>
		<input type="text" name="name" id="form_name">

		<label for="">Email</label>
		<input type="email" name="email" id="form_email">

		<label for="">Username</label>
		<input type="text" name="username" id="form_username">

		<label for="">Password</label>
		<input type="password" name="password" id="form_password">
		
		<label for="">Confirm Password</label>
		<input type="password" name="confirm_password" id="form_confirm_password">
		
		<button>Submit</button>
	</form>

{{ template "footer" . }}