{{ define "timeline" }}

	{{ if .foundTweets }}

		<style type="text/css">
			#timeline {
				display: flex;
			    flex-flow: column;
			    align-items: stretch;
			}

			.tweet {
				display: inline-block;
				width: auto;
				margin: 0 0 5px 0;
				padding: 10px 15px;
				border-radius: 5px;
				border: 1px solid #DDD;
			}

			.tweet p {
				margin: 5px 0;
			}

			.tweet p.rt-user { font-size: 11px; }
			.tweet p.rt-user a { font-size: 10px; }

			.tweet p a {
				color: #333;
				text-decoration: none;
				margin: 0;
				font-size: 13px;
				font-weight: 700;
			}

			.tweet p a span.username {
				color: #555 !important;
				font-size: 13px;
				font-weight: 400;

				display: inline-block;
				margin: 0 3px;
			}

			.tweet p:hover > a *:not(.username) {
				text-decoration: underline;
			}

			.tweet p span.time {
				color: #333;
				text-decoration: none;
				margin: 0;
				font-size: 12px;
				font-weight: 400;
			}

			.tweet p:last-child {
				font-weight: 400;
				font-size: 13px;
				color: #333;
				margin: 0;
			}
		</style>

		<div id="timeline">
			{{ range $idx, $tweet := .Tweets }}
				{{ if ne .Is_retweet true }}
					<div class="tweet" data-tweet-id="{{ .Id }}" data-tweet-user-id="{{ .User_id }}">
						<p> 
							<a href="/profile/{{ .User_id }}" class="tweet-username">
								{{ .Name.String }} <span class="username">@{{ .Username.String }}</span>
							</a>
							<span class="time"> - {{ .Created_at }} </span>
						</p>
						<p> {{ .Message }} </p>
					</div>
				{{ else }}
					<div class="tweet" data-tweet-id="{{ .Id }}" data-tweet-user-id="{{ .User_id }}" data-is-retweet="{{ .Is_retweet }}" data-origin-tweet-id="{{ .Otweet_id }}" data-origin-tweet-user-id="{{ .Ouser_id }}">
						<p class="rt-user"> Retweeted by <a href="/profile/{{ .User_id }}"> {{ .Name.String }} </a> </p>
						<p>
							<a href="/profile/{{ .Ouser_id }}" class="tweet-username">
								{{ .Oname.String }} <span class="username">@{{ .Ousername.String }}</span>
							</a>
							<span class="time"> - {{ .Created_at }} </span>
						</p>
						<p> {{ .Message }} </p>
					</div>
				{{ end }}	
			{{ end }}
		</div>
	{{ end }}

{{ end }}